################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chit fund/FileContentIndex/664c6302-8d7d-4c9f-9391-d356681c3d3b.vsidx
